@font-face {
   font-family: 'Great Vibes';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/james/Documents/GitHub/tournoi-bareit-fr.github.io/fonts/Great Vibes/regular.ttf') format('truetype');
}
